<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>BIP - Benefício</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="libs/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="libs/css/bootstrap-theme.min.css" >

        <script src="libs/js/jquery-3.5.1.min.js"></script>

        <!-- Latest compiled and minified JavaScript -->
        <script src="libs/js/bootstrap.min.js"></script>                
    
        <script src="libs/js/angular-1.2.16.js"></script>
        <script src="libs/js/angular-route.min.js"></script>
        <script src="libs/js/angular-resource.min.js"></script>
        <script src="libs/js/angular-animate.js"></script>
        <script src="libs/js/ui-bootstrap-tpls-2.5.0.min.js"></script>
        <script src="libs/js/dirPagination.js"></script>

        <script src="js/appCrud.js"></script>
		<script src="js/Beneficio.js"></script>   
    </head>
    <body ng-app="App">
        <div ng-controller="Controller as controller">

            <!-- Modal Exclusão -->
            <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" 
                aria-labelledby="modalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" ng-click="controller.fecharExcluir()" aria-label="Fechar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="modalLabel">Excluir</h4>
                        </div>
                        <div class="modal-body">
                            Deseja realmente excluir o Benefício {{controller.beneficio.nome}}?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" ng-click="controller.excluir(controller.beneficio.id)">Sim</button>
                            <button type="button" class="btn btn-default" ng-click="controller.fecharExcluir()" >N&atilde;o</button>
                        </div>
                    </div>
                </div>
            </div> <!-- /.modal -->        

            <!-- Modal Create -->
            <div class="modal fade bd-example-modal-lg" id="create-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" ng-click="controller.cancelar()" aria-label="Fechar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="modalLabel">Criar Benefício</h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label for="nome">Nome</label>
                                        <input type="text" class="form-control" id="nome" ng-model="controller.beneficio.nome">
                                    </div>

									<div class="form-group col-md-8">
									    <label for="descricao">Descrição</label>
									    <input type="text" class="form-control" id="descricao" ng-model="controller.beneficio.descricao">
									</div>
                                </div>

                                <div class="row">

                                    <div class="form-group col-md-4">
                                        <label for="valor">Valor</label>
                                        <input type="text" class="form-control" id="valor" ng-model="controller.beneficio.valor">
                                    </div>
                                </div>                                
                            </form>
                        </div>
                        <div class="modal-footer">
                            <div id="actions" class="row">
                                <div class="col-md-12">
                                  <button id="criarBeneficio" type="submit" class="btn btn-primary" ng-click="controller.salvar()">Salvar</button>
                                  <button type="button" class="btn btn-default" ng-click="controller.cancelar()">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- /.modal -->            

            <!-- Modal View -->
           <div class="modal fade" id="view-modal" tabindex="-1" role="dialog" 
                aria-labelledby="modalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" ng-click="controller.cancelar()" aria-label="Fechar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="modalLabel">Visualizar</h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <p><strong>Nome</strong></p>
                                        <p>{{controller.beneficio.nome}}</p>                                        
                                    </div>

                                    <div class="form-group col-md-8">
                                        <p><strong>Descrição</strong></p>
                                        <p>{{controller.beneficio.descricao}}</p>
                                    </div>            
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <p><strong>Valor</strong></p>
                                        <p>{{controller.beneficio.valor}}</p>
                                    </div>
                                </div>                                
                            </form>
                        </div>                        
                        <div class="modal-footer">
                            <div id="actions" class="row">
                                <div class="col-md-12">
                                  <button type="button" class="btn btn-default" ng-click="controller.cancelar()">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- /.modal -->           


            <div id="main" class="container-fluid">
                <hr />
                <div id="top" class="row">
                    <div class="col-md-3">
                        <h2>Benefício</h2>
                    </div>
                
                    <div class="col-md-6">
                        <div class="input-group h2">
                            <input name="data[search]" class="form-control" id="search" type="text" ng-model="procurar" placeholder="Pesquisar">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                
                    <div class="col-md-3">
                        <a  href="#" data-toggle="modal" data-target="#create-modal" class="btn btn-primary pull-right h2">Novo</a>
                    </div>
                </div> <!-- /#top -->
            
                <hr />

                <div id="list" class="row">
                    <div class="table-responsive col-md-12">
                        <table class="table table-striped" cellspacing="0" cellpadding="0">
                            <thead>
                                <tr>
                                    <th ng-click="">ID</th>
                                    <th ng-click="">Nome</th>
                                    <th ng-click="">Descrição</th>
                                    <th ng-click="">Valor</th>
                                    <th class="actions">Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr dir-paginate="beneficio in controller.Beneficios|filter:procurar|itemsPerPage:10">
                                    <td>{{beneficio.id}}</td>
                                    <td>{{beneficio.nome}}</td>
                                    <td>{{beneficio.descricao}}</td>
                                    <td>{{beneficio.valor}}</td>
                                    <td class="actions">
                                        <button type="button" class="btn btn-success btn-xs" ng-click="controller.editar(beneficio, true)">Visualizar</button>
                                        <button type="button" class="btn btn-warning btn-xs" ng-click="controller.editar(beneficio, false)">Editar</button>
                                        <button type="button" class="btn btn-danger btn-xs"  ng-click="controller.mostrarExcluir(beneficio)">Excluir</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>          
                        <dir-pagination-controls max-size="10" boundary-links="true"></dir-pagination-controls>          
                    </div>
                </div> <!-- /#list -->
            
                <div id="bottom" class="row">
                    <div class="col-md-12">
              
                    </div>            
                </div> <!-- /#bottom -->            
            </div>
        </div>
		
		 
    </body>
</html>